@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Port+Lligat+Sans&family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../imagini/background.jpg);
    background-position: center;
    /*background: linear-gradient(to bottom left, #327f9b, #97b4be); */
    background-size: auto;
    margin: 25px;

  }


.body_home{
  margin-top: 70px;
  background-image: url(../imagini/home_background.jpg);
  background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.text-container {
  background: rgba(20, 123, 207, 0.5);
  padding: 15px;
  border-radius: 10px;
}

.text-box{
  width: 50%;
}

.sidebar{
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom left, #327f9b, #97b4be);
  padding-top: 60px;
  transition: 0.5s;
  z-index: 9980;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
}


.sidebar ul li a {
  font-family: 'Magra';
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  transition: 0.2s;
}

.sidebar img{
  width: 300px;
  height: auto;
}


.menu-button {
  font-size: 24px;
  font-family: 'Ruslan Display';
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 9990;
}

nav a{
    color: rgb(0, 0, 0);
    margin: 3px;
    position: relative;
}

nav a:hover{
  color: #a34187;
  transform: scale(1.05);
}

nav a::after{
    content: "";
    position: absolute;
    left: -15%;
    width: 30px;
    height: 30px;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s;
}

nav a[href="index.html"]::after {
  background-image: url("../imagini/acasa.png");
}

nav a[href="despre.html"]::after {
  background-image: url("../imagini/despre.png");
}

nav a[href="video.html"]::after {
  background-image: url("../imagini/video.png");
}

nav a[href="inregistreaza.html"]::after {
  background-image: url("../imagini/inreg.png");
}

nav a[href="desen.html"]::after {
  background-image: url("../imagini/desen.png");
}

nav a[href="invat.html"]::after {
  background-image: url("../imagini/invat.png");
}

nav a:hover::after {
  opacity: 1;
}

.text-container h2{
  font-family: 'Tektur', serif;
}

.text-container h3{
  font-family: 'Marcellus', serif;
}


.meniu_invat{
  position: absolute;
  right: 100px;
  top: 90px;
  width: 260px;
  height: 180px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  animation: meniuCerc 8s infinite linear;
  
}

@keyframes meniuCerc {
  0% {
    transform: rotate(0deg) translateX(40px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(40px) rotate(-360deg);
  }
}

.nor{
  width: 100%;
  height: auto;
  position: static;
  justify-content: right;
  
}

.meniu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.meniu ul{
  margin-left:-40px;
}

.meniu p{
  font-size: 18px;
}

#sectiunea1 h1{
  font-family: 'Bungee Shade', serif;
  font-size: 30px;
}

#sectiunea1 p{
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#sectiunea1 button{
  font-size:20px;
  font-family: 'Quicksand', Courier, monospace;
  background-color: rgb(127, 215, 250);
  border-radius: 8px;
  transition-duration: 1s;
}

#sectiunea1 button:hover{
  background-color: rgb(0, 104, 146);;
}

#sectiunea2 h1{
  font-family: 'Bungee Shade', serif;
  font-size: 30px;
}

#sectiunea2 p{
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#sectiunea2 #undo{
  font-size: 16px;
  font-family: 'Quicksand', Courier, monospace;
  position: relative;
  background-color: #96bdea;
}

#canvas{
  border: 30px ridge rgb(6, 6, 75);
  background-color: rgb(211, 214, 255);
  cursor: crosshair;
}

#sectiunea3 h1{
  font-family: 'Bungee Shade', serif;
  font-size: 30px;
}

#tabel_sect3{
  background-color: #d4ecff;
  border: 3px solid;
  border-color: #06050b;
  border-style: groove;
  border-radius: 5%;
  font-size: 16px;
  font-family: 'Port Lligat Sans';
  width: 670px;
}

#tabel_sect3 td{
  background-color: #d4ecff;
  border: 3px solid;
  border-color: #06050b;
  border-style: groove;
  border-radius: 5%;
  font-size: 16px;
  font-family: 'Port Lligat Sans';
  height: 40px;
  text-align: center;
}

#coloana, #linie{
  width: 50px;
  height: 30px;
  background-color: #b8c0da;
}

.page-title{
    color: #000080;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    animation: bounce 4s infinite;
    
  }

@keyframes bounce{
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
  20%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(0); 
  }
}

.explore{
  color: #00008B;

}

.tabel_despre{
  border: 3px solid;
  border-color: #06050b;
  border-style: double;
  border-radius: 5%;
}
tr:hover{
  background-color: #8393b2;
}
td:hover{
  background-color: #546ea3;
}

.tabel_despre th{
  border: 3px solid;
  border-color: #06050b;
  border-style: double;
  border-radius: 5%;
  color: rgb(14, 55, 203);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.tabel_despre td{
  border: 3px solid;
  border-color: #06050b;
  border-style: double;
  border-radius: 5%;
}

.orion-logo{
  float: right;
}

input{
  background-color: #c0d3da;
  padding: 5px;
  box-sizing: border-box;
}
textarea{
  background-color: #c0d3da;
  display: block;
}
select{
  background-color: #c0d3da;
}
input:focus, textarea:focus{
  background-color: rgb(255, 255, 255);
}

input[type="color"]{
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

input[type="range"]{
  -webkit-appearance: none;
  display: block;
  background: linear-gradient(to right, #c54747, #5be76b);
  height: 15px;
  width: 250px;
  border-radius: 20px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url('../imagini/smallplane.png');
  background-size: contain;
  cursor: pointer;
  border: none;
}

.register-button{
  background-color: rgb(111, 217, 111);
  text-align: center;
  width: 180px;
  height: 40px;
  border-radius: 12px;
  box-shadow: 0 9px #c0bfbf;
  position: relative;
  margin-top:20px;
  margin-bottom: 20px;
  animation-name: button-run;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes button-run{
  0% {
    left: 20px;
  }
  100%{
    right: 0px;
  }
}

.register-button:hover{
  background-color: rgb(61, 129, 61);
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-gallery iframe {
    flex: 1 1 30%;
    max-width: 400px;
    height: 300px;
    margin-bottom: 20px;
    border: none;
}

.video-gallery p {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.card{
  width: 160px;
  height: 200px;
  transition: 0.5s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
}

.container:hover > :not(:hover){
  opacity: 0.3;
}

.container{
  display: flex;
  gap: 10px;
}

.card:hover{
  transform: scale(1.1);
}


.plane{
  position: absolute;
  animation-name: plane-fly;
  left: 0px;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  left: 0px;
}

@keyframes plane-fly{
  0% {
    left: -70px;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

.plane-image{
  float: right;
}


#uk_flag:hover{
  background-image: url(../imagini/uk_flag.png);
  background-size: cover;
  background-position: center;

  background-color: rgba(255,255,255,0.5);
  background-blend-mode: overlay;
  background-size: 100% 100%;
}

#hungary_flag:hover{
  background-image: url(../imagini/hungary_flag.png);
  background-size: cover;
  background-position: center;

  background-color: rgba(255,255,255,0.5);
  background-blend-mode: overlay;
  background-size: 100% 100%;
}

#italy_flag:hover{
  background-image: url(../imagini/italy_flag.png);
  background-size: cover;
  background-position: center;

  background-color: rgba(255,255,255,0.5);
  background-blend-mode: overlay;
  background-size: 100% 100%;
}

#usa_flag:hover{
  background-image: url(../imagini/usa_flag.png);
  background-size: cover;
  background-position: center;

  background-color: rgba(255,255,255,0.5);
  background-blend-mode: overlay;
}

#spain_flag:hover{
  background-image: url(../imagini/spain_flag.png);
  background-size: cover;
  background-position: center;

  background-color: rgba(255,255,255,0.5);
  background-blend-mode: overlay;
}

#tabel_persoane th, #tabel_persoane td{
  border: 3px solid black;
  background-color: rgba(85, 142, 208, 0.8);
  margin: 10px;
  padding: 3px;
  text-align: center;
}

#titlu_persoane{
  font-family: Tektur, serif;
}

#title_cumpara{
  font-family: Tektur, serif;
}









@media screen and (max-width: 480px) {
  body{
    background: linear-gradient(to bottom left, #327f9b, #97b4be);
  }
  .video-gallery iframe {
    flex: 1 1 100%;
    height: 250px;
 }
 }

 @media (max-width: 800px){
  .meniu_invat{
    right: 25px;
  }
  #sectiunea1 p{
    margin-top: 10px;
  }

 }